$btn-border-color: #eae9e6;

body {
  font-family: Avenir, sans-serif;
  font-size: 16px;
  margin: 0;
}

button {
  padding: .7em 4.5em;
  background: transparent;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  font-weight: 400;
}

h2 {
  margin: 0;
  font-family: 'Amatic SC', cursive;
}

.big-section {
  height: 100vh;
}

.small-section {
  height: 65vh;
}

.content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

header {
  text-align: center;
  font-size: .75em;
  .learn-to-be-logo {
    display: inline-block;
    width: 80px;
    vertical-align: middle;
  }
  .learn-to-be-nav {
    display: inline-block;
    border-left: 1px solid $btn-border-color;
    border-right: 1px solid $btn-border-color;
    line-height: 6em;
    margin: 0 20px;
    a {
      display: inline-block;
      text-decoration: none;
      margin-left: 20px;
      color:#777883;
    }
    :last-child {
      margin-right: 20px;
    }
  }
  .donate-btn {
    display: inline-block;
    color: #62626b;
    font-weight: 600;
    padding: .7em 3.5em;
    border: 1px solid $btn-border-color;
  }
}

.online-tutoring {
  height: 100vh;
  font-family: 'Just Another Hand', cursive;
  background: url("https://www.learntobe.org/assets/bg_student-59769c2ba95a350b90068cacc4399773.jpg") no-repeat;
  background-size: cover;
  color: #FFFFFF;
  h2 {
    font-size: 50px;
    margin-bottom: 40px;
    font-weight: 100;
    //letter-spacing: -px;
  }
  button {
    color: #FFFFFF;
    font-size: 22px;
  }
  .tutor-btn {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid transparent;
  }
  .student-btn {
    border: 1px solid $btn-border-color;
    font-family: 'Amatic SC';
    margin-right: 5%;
  }
}

.mission {
  background: #fcf9f4;
  color: #62626b;
  h2 {
    font-size: 40px;
  }
  .mission-description {
    font-size: 20px;
    max-width: 710px;
    margin: 25px auto;
  }
  .mission-donate-btn {
    background: #ffcd62;
    color: #62626b;
  }
}

.students {
  background: #91d0b1;
  color: #FFFFFF;
  .students-picture {
    display: inline-block;
    background: url("http://placehold.it/800x600");
    background-size: cover;
    height: 40vh;
    width: 40%;
  }
  .students-content {
    display: inline-block;
    min-width: 200px;
    max-width: 300px;
  }
  .students-progress {
    width: 5px;
    display: inline-block;
    .progress-dot {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #FFFFFF;
    }
  }

}

.prospective-tutors {
  background: #ffcd62;
}

.partners {
  background: #80a8cc;
}

.our-progress {
  background: #fcf9f4;
}

footer {
  text-align: center;
  background: #4d4e59;
}