$btn-border-color: #eae9e6;
$students-bg-color: #91d0b1;
$prospective-tutors-bg-color:#ffcd62;
$partners-bg-color: #80a8cc;

$main-font-family: 'Just Another Hand', cursive;;

body {
  font-family: Avenir, sans-serif;
  font-size: 16px;
  margin: 0;
  min-width: 970px;
}

button {
  padding: .7em 4.5em;
  background: transparent;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  font-weight: 400;
}

h2 {
  margin: 0;
  font-family: $main-font-family;
  font-size: 50px;
  font-weight: 100;
}

.big-section {
  height: 95vh;
  padding: 2%;
}

.middle-section {
  height: 80vh;
  color: #FFFFFF;
  padding: 2%;
  .students-picture {
    display: inline-block;
    background-size: cover;
    height:271px;
    width: 35%;
    vertical-align: middle;
    background: url("http://placehold.it/800x600");
  }
  .section-content {
    display: inline-block;
    min-width: 200px;
    max-width: 430px;
    text-align: left;
    line-height: 1.5em;
    font-size: 1.25em;
    margin:0 80px;
    vertical-align: middle;
    .section-btn {
      background: rgba(0,0,0,0.2);
      color: #FFF;
      font-size: 1em;
    }
  }
}
.small-section {
  height: 65vh;
}

.content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

header {
  text-align: center;
  font-size: .75em;
  .learn-to-be-logo {
    display: inline-block;
    width: 80px;
    vertical-align: middle;
  }
  .learn-to-be-nav {
    display: inline-block;
    border-left: 1px solid $btn-border-color;
    border-right: 1px solid $btn-border-color;
    line-height: 6em;
    margin: 0 20px;
    a {
      display: inline-block;
      text-decoration: none;
      margin-left: 20px;
      color:#777883;
    }
    :last-child {
      margin-right: 20px;
    }
  }
  .donate-btn {
    display: inline-block;
    color: #62626b;
    font-weight: 600;
    padding: .7em 3.5em;
    border: 1px solid $btn-border-color;
  }
}

.online-tutoring {
  background: url("https://www.learntobe.org/assets/bg_student-59769c2ba95a350b90068cacc4399773.jpg") no-repeat;
  background-size: cover;
  color: #FFFFFF;
  position: relative;

  -khtml-opacity:.70;
  -moz-opacity:.70;
  -ms-filter:"alpha(opacity=70)";
  filter:alpha(opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
  opacity:.70;
  h2 {
    font-size: 60px;
    margin-bottom: 40px;
    font-weight: 100;
  }
  button {
    color: #FFFFFF;
    font-size: 22px;
    font-family: $main-font-family;
    width: 15em;
    letter-spacing: 3px;
  }
  &__tutor-btn {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid transparent;
    margin-left: 2%;
  }
  &__student-btn {
    border: 1px solid $btn-border-color;
    margin-right: 2%;
  }
  &__icon {
    position: absolute;
    bottom: 1%;
    text-align: center;
    width: 100%;
    left: 0;
    img {
      width: 50px;
      height: 25px;
    }
  }
}

.mission {
  background: #fcf9f4;
  color: #62626b;
  h2 {
    font-size: 40px;
  }
  &__description {
    font-size: 20px;
    max-width: 710px;
    margin: 25px auto;
  }
  &__donate-btn {
    background: #ffcd62;
    color: #62626b;
  }
}

.students {
  background: $students-bg-color;
  .students-picture {
    background: url("http://placehold.it/800x600");
  }
  .students-progress {
    width: 5px;
    display: inline-block;
    vertical-align: middle;
    .progress-dot {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: rgba(0,0,0,0.2);
      margin-bottom: 5px;
    }
    .active {
      background: #FFFFFF;
    }
  }
}

.our-progress {
  .progress-parts {
    display: inline-block;
    margin: 0 10px;
  }
}

.prospective-tutors {
  background: $prospective-tutors-bg-color;
}

.partners {
  background: $partners-bg-color;
}

.our-progress {
  background: #fcf9f4;
  h2 {
    margin-bottom: 5%;
  }
  &__progress-parts {
    display: inline-block;
    margin: 0 10px;
    border: 1px solid $btn-border-color;
    padding: 4em 5em;
    .hours-tutored-integer {
      font-size: 5em;
      font-family: $main-font-family;
      margin: 0;
    }
    h4 {
      font-size: .75em;
    }
  }
  .hours-tutored {
    color: $students-bg-color;
  }
  .sessions-hosted {
    color: $prospective-tutors-bg-color;
  }
  .volunteer-tutors {
    color: $partners-bg-color;
  }
}

footer {
  text-align: center;
  background: #4d4e59;
  line-height: 6em;
  color: #FFFFFF;
}